<div class="container">
    <h1 class="text-center mb-4">Image Recognition App</h1>
    <div class="form-group">
      <label for="image-input">Upload Image</label><br>
      <input id="image-input" type="file" accept="image/*" (change)="onImageSelect($event)">
    </div>
    <br>
    <!-- <button type="button" class="btn btn-primary mb-2" (click)="recognizeImage()">Recognize Image</button> -->
    <div class="text-center">
      <section class="results" *ngIf="!errorCallingAPI">
        <p *ngIf="!openAIImageResults">No Results Found</p>
        <ul *ngIf="openAIImageResults">
          <li>
          <img class="result-image" src="{{openAIImageResults}}" alt="{{openAIImageResults}}"/>
        </li>
        </ul>
      </section>
    </div>
  </div>
 